<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="opencart_testsuite" > 

 <listeners> 
  	<listener class-name="com.opencart.utilities.Reporting"></listener>
 </listeners>

<!--	<test name="Chrome Browser Test">	
		<parameter name = "browser" value = "chrome"/>
		<classes>			
			<class name = "com.opencart.testcases.TC_RF_001"/>			
		</classes>					
	</test>-->
	


	<test name="Firefox Browser Test">	
		<parameter name = "browser" value = "firefox"/>
		<classes>			
			<class name = "com.opencart.testcases.TC_RF_001"/>	
			<class name = "com.opencart.testcases.TC_RF_002"/>		
		</classes>					
	</test>
	
<!-- 	<test name="Edge Browser Test">	
		<parameter name = "browser" value = "edge"/>
		<classes>			
			<class name = "com.opencart.testcases.TC_RF_001"/>			
		</classes>					
	</test>-->

</suite>


		
		
		